<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>
    </appSettings>
    <connectionStrings>
		<add name="PayspaceEntities" connectionString="Server=(LocalDB)\v11.0;attachdbfilename=C:\Users\local_paaanda_03\Documents\Visual Studio 2013\Projects\Payspace\Payspace\App_Data\Payspace.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
